* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

#audio-container {
    display: flex;
    justify-content: end;
    padding: 16px;
    width: 100%;
}

#featured-image {
    display: flex;
    justify-content: center;
}

#featured-image img {
    width: 50%;
    max-width: 50%;
}